.panel.panel-default
	.panel-body#playView
		%div#enchant-stage
	.panel-footer#statusbar

%script{ type: 'text/template', id: 'status_template' }
	Score: <%= totalScore %> State: <%= status %>
%script{ src: 'js/orderMaid.js' }
%script{ src: 'js/main.js' }
